<label id="value_lable">

    <div class="card" style="width: 300px;">
        <div class = "{{  calloutClass  }}">
          <table class= "unstriped hover">
            <tr>
                <td>Service Name: </td>
                <td><b>{{ suggestions[0] }}</td>
            </tr>  
            <tr>
                <td>Service DC: </td>
                <td><b>{{ suggestions[1] }}</td>
            </tr>  
           <tr>
                <td>Local IP Address: </td>
                <td><b>{{ suggestions[2] }}</td>
            </tr> 
           <tr>
                <td>Port: </td>
                <td><b>{{ suggestions[3] }}</td>
            </tr>  
           <tr>
                <td>API Check: </td>
                <td><b>{{ response }}</td>
            </tr>
          </table> 
      </div>
      </div>


</label>



